<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your QR Code</title>
</head>
<body>
    <h1>Your QR Code</h1>
    <div>{{ qr_code|safe }}</div>  <!-- Display the QR code -->
    <h2>Verify TOTP</h2>
    <form action="/verify_totp_page" method="POST">
        <label for="current_totp">Enter TOTP:</label>
        <input type="text" id="current_totp" name="current_totp" required>
        <button type="submit">Verify</button>
    </form>
    <button action="/login">Login Page</button>
</body>
</html>